body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#bg-den {
    height: 600px;
    width: 1200px;
    background-color: black;
    padding: 10px;

}

.bongden {
    border-radius: 50%;
    background-color: yellow;
    height: 50px;
    width: 50px;
    margin: 5px;
    float: left;
}
